body {
	background-color: #1D3647;
	margin:0 auto;
	padding:0px;
}
.login_top_bg {
	background-image: url(../img/login-top-bg.gif);
	background-repeat: repeat-x;
	height:42px;
	width:100%;
}
.login_top_bg h3{
	margin-left:42%;
	color:#ccc;
}
.login_top_bg h4{
	color:#ccc;
}
.login_bg {
	background-image: url(../img/login_bg.jpg);
	background-repeat: repeat-x;
	height:532px;
	width:100%;
	position:relative;
}
.form{
	height:180px;
	width:320px;
	margin:0 auto;
	padding-top:180px;
}
.login_bg > img{
	position:absolute;
	bottom:0px;
	right:0px;
}
.login_bg table{
	position:relative;
}
.login_botton{
	position:absolute;
	right:40px;
}
.login_buttom_bg {
	background-image: url(../img/login-buttom-bg.gif);
	background-repeat: repeat-x;
	height:20px;
	width:100%;
}
.login_buttom_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ABCAD3;
	text-decoration: none;
	line-height: 20px;
	margin-left:40%;
}
.login_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #333333;
}
.login_txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #666666;
	font-weight: bold;
}